spring:
  data:
    mongodb:
      auto-index-creation: true
      uri: mongodb://admin:admin@localhost:27017/offers
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
offer:
  fetcher:
    client:
      config:
        uri: http://ec2-3-120-147-150.eu-central-1.compute.amazonaws.com
        port: 5057
        connectionTimeout: 1000
        readTimeout: 1000
  scheduler:
    delay: PT3H
scheduling:
  enabled: true